
* {
  color: lightgreen;
}

body {
  background-color: #222;
}

h4 {
  padding: 5px 0;
}

h3 {
  padding: 5px;
  border-top: 1px lightgreen solid;
}


/*
* {
  margin: 0;
  padding: 0;
  color: lightgreen;
}

div {
  background: black;
}

.body {
  background: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileHeader {
  background: white;
  width: 75%;
  text-align: center;
  clear: all;
}

.profileImage {
  margin: 2%;
  width: 20%;
  border-radius: 50%;
  float: left;
  display: inline;
}

.box {
  float: left;
  display: inline;
  color: black;
  margin: 10%;
  background: white;
  border: 1px solid black;
  width: 15%;
  height: 10%;
}

.name {
  clear: all;
  width: 25%;
}

.bio {
  padding: 0 10px;
  text-align: left;
  width: 100%;
}
*/




/*
.Header {
  padding: 10px;
}

.Body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: lightgreen;
}

.Image {
  width: 50%;
  float: left;
}

.UserProfile {
  background: white;
  color: black;
  width: 100%;
}

.UserBody {
  background: white;
}

.Username {
  background: white;
}

.UserBio {
  background: white;
}
*/
