.login-container {
    background: #A1D6E2;
}

h1 span.fa {
  color: #222;
  transform: rotate(30deg);
}

h1 {
  color: #222;
  font-size: 5em;
}

.jumbotron {
  background: #F1F1F2;
}

.leftCard {
  opacity: .4;
}

h3 {
  color: #222;
}

input {
  width: 50%;
}
